body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevents scrollbars on the main page */
}

iframe {
    position: fixed; /* Positions the iframe relative to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Removes the default iframe border */
    z-index: 9999; /* Ensures the iframe is on top of other content */
}